<%- include ('partials/header.ejs'); -%>
    <div class="table-wrapper">
        <% if (players.length > 0) {%>
            
                    
                  
<div class="product_head">
    <h1>Products</h1>
</div>
<br>
<div class="product">
    <h1><u>String Instruments</u></h1>
</div>
<br>
<div class="row">
    <div class="column">
        <h1>Veena</h1>
      <img src="/assets/img/veena1.jpg" alt="Snow" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Acoustic Guitar</h1>
      <img src="/assets/img/acoustic1.jpg" alt="Forest" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Sarangi</h1>
      <img src="/assets/img/sarangi1.jpeg"  style="width:500px" height="300px">
    </div>
    </div>
  </div>


  <div class="row">
    <div class="column">
        <h1>Sitar</h1>
      <img src="/assets/img/sitar1.jpg" alt="Snow" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Electric Guitar</h1>
      <img src="/assets/img/electric.jpg" alt="Forest" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Sarod</h1>
      <img src="/assets/img/sarod1.jpeg"  style="width:500px" height="300px">
    </div>
    </div>
  </div>



  <div class="row">
    <div class="column">
        <h1>Violin</h1>
      <img src="/assets/img/violin1.jpeg"  style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Tanpura</h1>
      <img src="/assets/img/tanpura1.jpeg"  style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Electric Violin</h1>
      <img src="/assets/img/eviolin1.jpg"  style="width:500px" height="300px">
    </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
        <h1>Bass guitar</h1>
      <img src="/assets/img/bass1.jpg"  style="width:500px" height="300px">
    </div>
    
    </div>
    </div>
  



    <br>
    <br>
    <br>

  <div class="product">
    <h1><u>Percussion Instruments</u></h1>
</div>
<br>



  <div class="row">
    <div class="column">
        <h1>Drums</h1>
      <img src="/assets/img/drums1.jpg" alt="Snow" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Tabla</h1>
      <img src="/assets/img/tabla.jpg" alt="Forest" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Mridangam</h1>
      <img src="/assets/img/mri1.jpg" alt="Mountains" style="width:500px" height="300px">
    </div>
    </div>
  </div>



  <div class="row">
    <div class="column">
        <h1>Ghatam</h1>
      <img src="/assets/img/ghatam1.jpg" alt="Snow" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Khanjira</h1>
      <img src="/assets/img/kanjira1.jpg" alt="Forest" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Electric Drums</h1>
      <img src="/assets/img/edrums1.jpg" alt="Mountains" style="width:500px" height="300px">
    </div>
    </div>
  </div>



  <div class="row">
    <div class="column">
        <h1>Clapbox</h1>
      <img src="/assets/img/clap.jpg" alt="Snow" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Djambe</h1>
      <img src="/assets/img/djambe1.jpg" alt="Forest" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Dholak</h1>
      <img src="/assets/img/dholak1.jpg" alt="Mountains" style="width:500px" height="300px">
    </div>
    </div>
  </div>


  <br>
  <br>
  <br>
  <div class="product">
    <h1><u>Key Instruments</u></h1>
</div>
<br>

  <div class="row">
    <div class="column">
        <h1>Piano</h1>
      <img src="/assets/img/piano.jpg" alt="Snow" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Midi</h1>
      <img src="/assets/img/midi1.jpg" alt="Forest" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Keyboard</h1>
      <img src="/assets/img/keyboard.jpg" alt="Mountains" style="width:500px" height="300px">
    </div>
    </div>
  </div>



  <div class="row">
    <div class="column">
        <h1>Melodica</h1>
      <img src="/assets/img/melodica1.jpg" alt="Snow" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Keytar</h1>
      <img src="/assets/img/keytar1.jpg" alt="Forest" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Synthesizer</h1>
      <img src="/assets/img/synth1.jpg" alt="Mountains" style="width:500px" height="300px">
    </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <div class="product">
    <h1><u>Wind Instruments</u></h1>
</div>

<br>
<div class="row">
    <div class="column">
        <h1>Western Flute</h1>
      <img src="/assets/img/wflute1.jpg" alt="Snow" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Indian Flute</h1>
      <img src="/assets/img/iflute.jpg" alt="Forest" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Shehnai</h1>
      <img src="/assets/img/shehnai1.jpg" alt="Mountains" style="width:500px" height="300px">
    </div>
    </div>
  </div>


  <div class="row">
    <div class="column">
        <h1>Trumpet</h1>
      <img src="/assets/img/trumpet1.jpg" alt="Snow" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Saxophone</h1>
      <img src="/assets/img/saxophone1.jpg" alt="Forest" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Clarinet</h1>
      <img src="/assets/img/clarinet1.jpg" alt="Mountains" style="width:500px" height="300px">
    </div>
    </div>
  </div>



  <div class="row">
    <div class="column">
        <h1>Trombones</h1>
      <img src="/assets/img/trombones1.jpg" alt="Snow" style="width:500px" height="300px">
    </div>
    <div class="column">
        <h1>Sringa</h1>
      <img src="/assets/img/sringa1.jpg" alt="Forest" style="width:500px" height="300px">
    </div>
    
    </div>
  </div>




  <% } else { %>
            
    <% } %>
</div>



<style>


.column {
  float: left;
  width: 30.33%;
  padding: 5px;
  margin-left: 50px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.product{
    text-align: center;
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.product_head{
    text-align: center;
    font-size: 50px;
}
 


</style>
</body>
</html>